In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\nt397\Downloads\heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.shape

(918, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [5]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

df['Sex'] = le.fit_transform(df['Sex'])
df['RestingECG']= le.fit_transform(df['RestingECG'])
df['ExerciseAngina']= le.fit_transform(df['ExerciseAngina'])
df['ST_Slope']= le.fit_transform(df['ST_Slope'])
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,1,172,0,0.0,2,0
1,49,0,NAP,160,180,0,1,156,0,1.0,1,1
2,37,1,ATA,130,283,0,2,98,0,0.0,2,0
3,48,0,ASY,138,214,0,1,108,1,1.5,1,1
4,54,1,NAP,150,195,0,1,122,0,0.0,2,0

In [8]:
df['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [14]:
df= pd.get_dummies(df, columns=['ChestPainType'], prefix='ChestPainType')
for col in df.columns:
    if col.startswith('ChestPainType_'):
        df[col] = df[col].astype(int)
df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,1,140,289,0,1,172,0,0.0,2,0,0,1,0,0
1,49,0,160,180,0,1,156,0,1.0,1,1,0,0,1,0
2,37,1,130,283,0,2,98,0,0.0,2,0,0,1,0,0
3,48,0,138,214,0,1,108,1,1.5,1,1,1,0,0,0
4,54,1,150,195,0,1,122,0,0.0,2,0,0,0,1,0

In [19]:
df

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,1,140,289,0,1,172,0,0.0,2,0,0,1,0,0
1,49,0,160,180,0,1,156,0,1.0,1,1,0,0,1,0
2,37,1,130,283,0,2,98,0,0.0,2,0,0,1,0,0
3,48,0,138,214,0,1,108,1,1.5,1,1,1,0,0,0
4,54,1,150,195,0,1,122,0,0.0,2,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,1,132,0,1.2,1,1,0,0,0,1
914,68,1,144,193,1,1,141,0,3.4,1,1,1,0,0,0
915,57,1,130,131,0,1,115,1,1.2,1,1,1,0,0,0
916,57,0,130,236,0,0,174,0,0.0,1,1,0,1,0,0
917,38,1,138,175,0,1,173,0,0.0,2,0,0,0,1,0

In [21]:
X=df.drop('HeartDisease',axis="columns")
y=df['HeartDisease']
X.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,1,140,289,0,1,172,0,0.0,2,0,1,0,0
1,49,0,160,180,0,1,156,0,1.0,1,0,0,1,0
2,37,1,130,283,0,2,98,0,0.0,2,0,1,0,0
3,48,0,138,214,0,1,108,1,1.5,1,1,0,0,0
4,54,1,150,195,0,1,122,0,0.0,2,0,0,1,0

In [28]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)
X_scaled

array([[-1.4331398 ,  0.51595242,  0.41090889, ...,  2.07517671,
        -0.53283777, -0.22967867],
       [-0.47848359, -1.93816322,  1.49175234, ..., -0.48188667,
         1.87674385, -0.22967867],
       [-1.75135854,  0.51595242, -0.12951283, ...,  2.07517671,
        -0.53283777, -0.22967867],
       ...,
       [ 0.37009972,  0.51595242, -0.12951283, ..., -0.48188667,
        -0.53283777, -0.22967867],
       [ 0.37009972, -1.93816322, -0.12951283, ...,  2.07517671,
        -0.53283777, -0.22967867],
       [-1.64528563,  0.51595242,  0.30282455, ..., -0.48188667,
         1.87674385, -0.22967867]])

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [32]:
X_train.shape

(734, 14)

In [34]:
X_test.shape

(184, 14)

In [36]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.875

In [38]:
#use PCA to reduce dimensions

In [40]:
from sklearn.decomposition import PCA
pca=PCA(0.95)
X_pca=pca.fit_transform(X)
X_pca

array([[ 92.31155374,  29.44506722],
       [-17.14329111,  13.74289762],
       [ 81.90610959, -38.22394867],
       ...,
       [-69.00394163, -17.33441358],
       [ 39.20807075,  33.60247174],
       [-21.43723649,  37.21681629]])

In [42]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [44]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

0.7010869565217391